jspm_packages/
node_modules/
npm-debug.log
vendor/
dist/
build/
.DS_Store
.tmp
_tmp
app/.sass-cache
styles.css

# ignore .idea folder but not run configurations
.idea/*
!.idea/runConfiguration/
app/css/
