[submodule "submodule-a"]
	path = submodule-a
	url = https://github.com/jamiehill/submodule-a.git
	branch = branch-f
[submodule "submodule-b"]
	path = submodule-b
	url = https://github.com/jamiehill/submodule-b.git
	branch = branch-f
